<nav class="sidebar cerrado" id="sidebar">
    <div class="sidebar-header">
        <i class="fas fa-bars" id="btn-menu"></i>
        <span class="logo-texto">DentalPlanner</span>
    </div>
    
    <ul class="sidebar-links">
        <li>
            <a href="inicio.html">
                <i class="fas fa-home"></i>
                <span class="link-texto">Inicio</span>
            </a>
        </li>
        <li>
            <a href="agendar.html">
                <i class="fas fa-calendar-plus"></i>
                <span class="link-texto">Agendar Cita</span>
            </a>
        </li>
        <li>
            <a href="horario.html">
                <i class="fas fa-clock"></i>
                <span class="link-texto">Horarios</span>
            </a>
        </li>
        <li class="menu-item">
            <a href="bloqueo.html" class="menu-link">
                <i class="fas fa-calendar-times"></i>
                <span class="link-texto">Bloqueo de Horario</span>
            </a>
        </li>
        <li>
            <a href="reportes.html">
                <i class="fas fa-chart-line"></i>
                <span class="link-texto">Reporte Financiero</span>
            </a>
        </li>
    </ul>
</nav>